<h1>
	<%=data.pageTitle%>
</h1>
<hr />
Page rendered at: <%=timeOfPageLoad%>
<hr />
<%- include('partials/flascards_topInfo') %>
<ul>
	<% data.items.forEach(item=> {%>
		<li class="flashcard"><span class="category">
				<%=item.category%>
			</span>: <a href="flashcards/<%=item.id%>">
				<%=item.front%>
			</a></li>
		<% });%>
</ul>