<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title><%=data.pageTitle%></title>
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<h1><%=data.pageTitle%></h1>

	<hr />
	<div>
		<%=data.ids.join(',') %>
	</div>
	<div>
		<%=data.capitalizedCategories.join(',') %>
	</div>
	<hr />

	<div>
		Random flashcard: <%=data.randomItem.id%> (<%=data.randomItem.category%>)
	</div>


	<ul>
		<% data.items.forEach(item => {%>
		<li class="flashcard"><span class="category"><%=item.category%></span>: <a
				href="flashcards/<%=item.id%>"><%=item.front%></a></li>
		<% });%>
	</ul>
</body>

</html>