<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title><%=data.pageTitle%></title>
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<h1><%=data.pageTitle%></h1>

	<div>
		<%=data.ids.join(',') %>
	</div>
	<div>
		<%=data.capitalizedCategories.join(',') %>
	</div>



	<ul>

		<% data.items.forEach(item => {%>
		<li><%=item.front%></li>
		<% });%>
	</ul>
</body>

</html>