<h1>
	<%=data.pageTitle%>
</h1>
<hr />
<div>
	Number of flashcards: <span class="totalNumber">
		<%=data.items.length %>
	</span>
</div>
<hr />
<div>
	You have visited this page <b>
		<%=visitCount%>
	</b> times.
</div>
<hr />
<div>
	<%=data.ids.join(',') %>
</div>
<div>
	<%=data.capitalizedCategories.join(',') %>
</div>
<hr />

<div>
	Random flashcard: <%=data.randomItem.id%> (<%=data.randomItem.category%>)
</div>


<ul>
	<% data.items.forEach(item=> {%>
		<li class="flashcard"><span class="category">
				<%=item.category%>
			</span>: <a href="flashcards/<%=item.id%>">
				<%=item.front%>
			</a></li>
		<% });%>
</ul>